<div >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 [innerText]="selectedIncident.firstName +' '+ selectedIncident.lastName"></h3>
        <div class="row">
          <div class="col-6">Id: <span [innerText]="selectedIncident.enterpriseId"></span></div>
          <div class="col-6">Title: <span [innerText]="selectedIncident.title"></span></div>
        </div>
        <div class="row">
          <div class="col-6">Type: <span [innerText]="selectedIncident.issueType"></span></div>
            <div class="col-6">Created on: <span [innerText]="selectedIncident.created_on"></span></div>
        </div>
        <div class="row">
          <div class="col-12">Description: <span [innerText]="selectedIncident.description"></span></div>
        </div>
        
      </div>
    </div>

  </div>
</div>