<div class="container">
  <h4 class="card-title">Create Incident</h4>
  
  <div class="text-center mt-5">
    <form class="border border-light p-5 col-md-12"
      #incidentForm="ngForm" (ngSubmit)="incidentForm.submitted && onSubmit(incidentForm)">

      <div [ngClass]="{'has-error': incidentTitle.errors && (incidentTitle.touched || incidentTitle.dirty)}">
        <input type="text" id="input-title" class="form-control mb-4" required placeholder="Enter your e-Mail id" #incidentTitle="ngModel" ngModel name="incidentTitle" [(ngModel)]="incidentTitleValue" autocomplete="off"
          />
        <app-error-msg *ngIf="incidentTitle.errors && incidentTitle.touched" [formErrorMsg]="'Title is required'"></app-error-msg>
      </div>

      <div [ngClass]="{'has-error': incidentTitle.errors && (incidentTitle.touched || incidentTitle.dirty)}">
        <select class="browser-default form-control mb-4">
            <option *ngFor="let type of incedentType; let i = index" 
                [ngValue]="role" [innerText]="type">{{ type }}</option>
        </select>

        <app-error-msg *ngIf="incidentTitle.errors && incidentTitle.touched" [formErrorMsg]="'Title is required'"></app-error-msg>
      </div>

      <div [ngClass]="{'has-error': incidentDescription.errors && (incidentDescription.touched || incidentDescription.dirty)}">
        <textarea type="text" id="input-title" class="form-control mb-4" row='3' required 
        placeholder="Description" #incidentDescription="ngModel" ngModel name="incidentDescription" 
        [(ngModel)]="incidentDescriptionValue"></textarea>

        <app-error-msg *ngIf="incidentDescription.errors && incidentDescription.touched" [formErrorMsg]="'Description is required'"></app-error-msg>
      </div>
    
            <button class="btn btn-outline-info btn-block my-4" type="submit" >Create Incident</button>
    </form>

</div>
