<div class="container">
  <h4 class="card-title">Reset password</h4>
  
  <div class="text-center mt-5">
    <form class="border border-light p-5 col-md-12"
      #resetPasswordFrom="ngForm" (ngSubmit)="resetPasswordFrom.submitted && onSubmit(resetPasswordFrom)">      

      <div [ngClass]="{'has-error': oldPassword.error && (oldPassword.touched || oldPassword.dirty)}">
        <input type="text" id="input-title" class="form-control mb-4" required placeholder="Old Password" 
        #oldPassword="ngModel" ngModel name="oldPassword" [(ngModel)]="resetPassword" autocomplete="off" required/>
        <app-error-msg *ngIf="oldPassword.errors && (oldPassword.touched || oldPassword.dirty)" [formErrorMsg]="'Password is required'"></app-error-msg>
      </div>

      <div [ngClass]="{'has-error': newPassword.error && (newPassword.touched || newPassword.dirty)}">
        <input type="password" id="input-title" class="form-control mb-4" required placeholder="Old Password" 
        #newPassword="ngModel" ngModel name="newPassword" [(ngModel)]="newPasswordValue" autocomplete="off" required/>
        <app-error-msg *ngIf="newPassword.errors && (newPassword.touched || newPassword.dirty)" [formErrorMsg]="'Password is required'"></app-error-msg>
      </div>

      <div [ngClass]="{'has-error': confirmPassword.error && (confirmPassword.touched || confirmPassword.dirty)}">
        <input type="password" id="input-title" class="form-control mb-4" required placeholder="Old Password" 
        #confirmPassword="ngModel" ngModel name="confirmPassword" [(ngModel)]="confirmPasswordValue" autocomplete="off" required/>
        <app-error-msg *ngIf="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)" [formErrorMsg]="'Password is required'"></app-error-msg>
      </div>
    
      <button class="btn btn-outline-info btn-block my-4" type="submit" >Reset password</button>
    </form>

</div>