<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header" >
      <div class="navbar-brand">PMO Management</div>
    </div>
    <ul class="navbar-nav" style="width:75%">
      <li><a class="nav-link">Home</a></li>
      <li><a class="nav-link">Page 1</a></li>
      <li><a class="nav-link">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/signin">Logout</a></li>
      <!-- <li><a href="#">Login</a></li> -->
    </ul>
  </div>
</nav>