<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header" >
      <div class="navbar-brand">PMO Management</div>
    </div>
    <ul class="navbar-nav" style="width:70%">
      <!-- <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li> -->
      <!-- <li><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <li><a class="nav-link" routerLink="/pmo" routerLinkActive="active">Pmo</a></li>
      <li><a class="nav-link" routerLink="/user" routerLinkActive="active">User</a></li>
      <li><a class="nav-link" routerLink="/incident" routerLinkActive="active">Create incident</a></li> -->
      <!-- <li><a class="nav-link" routerLink="/resetPwd" routerLinkActive="active">Reset password</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li class="dropdown" *ngIf="user.loggedIn()">
        <div *ngIf="loggedUser.getLoginData()">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"  [innerText]="loggedUser.getLoginData().firstName +' '+ loggedUser.getLoginData().lastName"
        (click)="headerDD()">
            <b class="caret"></b></a>
            <!-- <a routerLink="/signin" (click)="logout()">Logout</a> -->
        <ul class="dropdown-menu">
            <li>
                <div class="navbar-content">
                    <span [innerText]="loggedUser.getLoginData().role"></span>
                    <p class="text-muted small" [innerText]="loggedUser.getLoginData().email"></p>
                    <div class="divider">
                    </div>
                    <a routerLink="/signin" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
      </div>
    </li>
      <li *ngIf="!user.loggedIn()">
        <a routerLink="/signin" >SignIn</a> / 
        <a routerLink="/register" >Register</a></li>
      
    </ul>
    
  </div>
</nav>