<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header" >
      <div class="navbar-brand">PMO Management</div>
    </div>
    <ul class="navbar-nav" style="width:80%">
      <li><a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a class="nav-link" routerLink="/userdetail" routerLinkActive="active">User</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/signin">Logout</a></li>
      <li><a routerLink="/signin">SignIn</a> /</li>
      <li>&nbsp;<a routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>