<div class="container">
  <h4 class="card-title">PMO</h4>
    <!-- <div class="row list-group" *ngIf="isIncidentList">
      <div class="listGroup-alignRight">
        <button class="btn btn btn-outline-primary btn-sm">Open</button>          
        <button class="btn btn btn-outline-success btn-sm">Closed</button>          
        <button class="btn btn btn-outline-info btn-sm">In Progress</button>
        <button class="btn btn btn-outline-success btn-sm">Resolved</button>
        <button class="btn btn btn-outline-danger btn-sm">Rejected</button>
      </div>
    </div> -->
    <div class="table-responsive">
      <table class="table table-striped">
          <thead class="thead-inverse">
              <tr>
                  <th></th>
                  <th>EnterpriseId</th>
                  <th>Name</th>
                  <th>Seat No</th>
                  <th>Status</th>
                  <th>Comments</th>
                  <th class="actionButton">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let incident of incidentList; let i = index">
                  <td>
                    <div class="custom-control custom-checkbox">
                      <label class="custom-control-label" for="customCheck[i]">
                        <input type="checkbox" class="custom-control-input" id="customCheck[i]" name="example1[i]">

                      </label>
                    </div>
                  </td>
                  <td [innerText]="incident.enterpriseId"></td>
                  <td [innerText]="incident.firstName"></td>
                  <td class="form-group gridSelectOption">
                    <select class="form-control form-control-sm">
                      <option *ngFor="let workstation of workstation; let i = index"  [innerHtml]="workstation"></option>
                    </select>
                  </td>
                  <td class="form-group gridSelectOption">
                    <select class="form-control form-control-sm">
                      <option *ngFor="let status of ticketStatus; let i = index"  [innerHtml]="status"></option>
                    </select>
                  </td>
                  <td>grid</td>
                  <td class="actionButton">
                    <button class="btn btn-outline-primary btn-sm">Update</button>&nbsp;
                    <button class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#myModal" >Detail</button>
                    <button class="btn btn-outline-danger btn-sm">Delete</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
    <div class="row" *ngIf="isIncidentList; else noIncidentList">
      
      
      <ag-grid-angular ng-grid="gridOptions" style="width: 100%; height: 500px;" 
      row-animation
      pagination
      row-selection="multiple"
      class="ag-theme-blue"
      [rowData]="incidentList" 
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
      <!--(cellValueChanged)="onCellValueChanged($event)"-->
      
      <ul class="custom-list-group" style="width: 100%;"> 
          <li class="list-group-item1" *ngFor="let incident of incidentList; let i = index" > 
            <!-- <form 
                #assignWorkstation="ngForm" 
                (ngSubmit)="assignWorkstation.valid && onAssignWorkstation(assignWorkstation, incident)">          -->
                  <h5 [innerText]="incident.title"></h5>
                  <span [innerText]="incident.description"></span>
                  <br><br>
                  
                  <div class="row"> 
                    <!-- <div class="col"><select></select></div>
                    <div class="col"><select></select></div> -->
                    <div class="col"> <button (click)="onAssignWorkstation(incident)">Apply</button></div>
                  </div>
                  <br><br>

                <div class="listGroup-alignRight">
                    <button class="btn btn btn-outline-primary btn-sm" *ngIf="incident.isOpen && !incident.isResolved" (click)="onOpenItem(incident)">Open</button>
                    <button class="btn btn btn-outline-info btn-sm" *ngIf="!incident.isOpen && !incident.isResolved" (click)="onProgressItem(incident)">In Progress</button>

                    <!-- <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isResolved && !incident.isOpen && !incident.isClarification" (click)="onCloseItem(incident)">Closed</button> -->
                    <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isClosed" (click)="onCloseItem(incident)">Closed</button>          

                    <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isResolved" (click)="onResolvedItem(incident)">Resolved</button>
                    <button class="btn btn btn-outline-danger btn-sm" *ngIf="!incident.isResolved" (click)="onRejectedItem(incident)">Rejected</button>

                    <button class="btn btn btn-outline-warning btn-sm" *ngIf="incident.isClarification" (click)="onClarificationRequired(incident)">Clarification Required</button>
                    <button class="btn btn btn-outline-warning btn-sm" *ngIf="!incident.isClarification" (click)="onClarificationReceived(incident)">Clarification Received</button>
                </div>
              <!-- </form> -->
          </li>
        
        
      </ul>
    </div>
    
    <ng-template #noIncidentList>
      <h5 class="text-center ptb21" [innerHtml]="'No records found'"></h5>
    </ng-template>


    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
</div>
