<app-header></app-header>
<br>
<div class="container">
  <h4 class="card-title">Admin</h4>
  <br>
    <ul class="list-group">
      
      <li class="list-group-item d-flex justify-content-between align-items-center">
        User 1
        <div>
          <button class="btn btn-outline-success btn-sm">Enabling</button>
          <button class="btn btn btn-outline-primary btn-sm">Detail</button>          
          <button class="btn btn btn-outline-danger btn-sm">Delete</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        User 1
        <div>
          <button class="btn btn-outline-success btn-sm">Enabling</button>
          <button class="btn btn btn-outline-primary btn-sm">Detail</button>
          <button class="btn btn btn-outline-danger btn-sm">Delete</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        User 1
        <div>
          <!-- <button class="btn btn-success">Enabling</button> -->
          <button class="btn btn btn-outline-secondary btn-sm">Disabling</button>
          <button class="btn btn btn-outline-primary btn-sm">Detail</button>
          <button class="btn btn btn-outline-danger btn-sm">Delete</button>
        </div>
      </li>
    </ul>


    <br><br>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">User Name</h4>
        <p class="card-text">Some example text. Some example text.</p>
        <ul class="userDetailListContainer">
          <li><strong>EnterpriseId:</strong> Test User id</li>
          <li><strong>First Name:</strong> Test User</li>
          <li><strong>Last Name:</strong> Last Name</li>
          <li><strong>Team:</strong> Role </li>
          <li><strong>Email:</strong> test.abc@accenture.com</li>

          <li><strong>Status:</strong> Status</li>
          <li><strong>Seat No:</strong> CDC2B.02.0190</li>
          <li><strong>SeatAllocation:</strong> allocate/remove</li>
          <li><strong>ticketStatus:</strong> This is the comments conent</li>
          <li><strong>Comments:</strong> This is the comments conent</li>
          <li><strong>Clarification:</strong> Required Clerification</li>

        </ul>
        <ul>
          <li><strong>Comments:</strong> This is the comments conent</li>
        </ul>
        <div>
          <button class="btn btn btn-outline-primary btn-sm float-right">Reset</button>
          <button class="btn btn btn-outline-primary btn-sm float-right">Reset</button>
          <button class="btn btn btn-outline-primary btn-sm float-right">Reset</button>
        </div>
      </div>
    </div>
</div>