<div class="container">
  
  <div class="row mb-3 mt-3">
    
    <div class="col-md-6 offset-md-6" style="text-align: right;">
        <button class="btn btn btn-outline-info btn-md">View My incident</button>&nbsp;
        <button class="btn btn btn-outline-secondary btn-md" (click)="viewAllIncident()">View all incident</button> &nbsp;
      <button class="btn btn btn-outline-primary btn-md" (click)="createIncident()">Create incident</button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
                <div class="rotate">
                    <i class="fa fa-user fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Closed</h6>
                <h1 class="display-4" [innerText]="closedCountArray[0].length"></h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-danger h-100">
            <div class="card-body bg-danger">
                <div class="rotate">
                    <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Open</h6>
                <h1 class="display-4" [innerText]="openCountArray[0].length"></h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-info h-100">
            <div class="card-body bg-info">
                <div class="rotate">
                    <i class="fa fa-twitter fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Inprogress</h6>
                <h1 class="display-4" [innerText]="inprogressCountArray[0].length"></h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 py-2">
        <div class="card text-white bg-warning h-100">
            <div class="card-body">
                <div class="rotate">
                    <i class="fa fa-share fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Rejected</h6>
                <h1 class="display-4" [innerText]="rejectedCountArray[0].length">36</h1>
            </div>
        </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-6">

        <div class="card mb-3">
            <div class="card-header">
                Bye .well, .panel &amp; .thumbnail
            </div>
            <div class="card-body">
                <h4 class="card-title">Replaced with .card</h4>
                <p class="card-text">All of these Bootstrap 3.x components have been dropped entirely for the new card component.</p>
                <button type="button" class="btn btn-secondary btn-lg">Large</button>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#home1" role="tab" data-toggle="tab">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#profile1" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#messages1" role="tab" data-toggle="tab">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#settings1" role="tab" data-toggle="tab">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <br>
            <div role="tabpanel" class="tab-pane active" id="home1">
                <h4>Home</h4>
                <p>
                    1. These Bootstrap 4 Tabs work basically the same as the Bootstrap 3.x tabs.
                    <br>
                    <br>
                    <button class="btn btn-primary-outline btn-lg">Wow</button>
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile1">
                <h4>Pro</h4>
                <p>
                    2. Tabs are helpful to hide or collapse some addtional content.
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages1">
                <h4>Messages</h4>
                <p>
                    3. You can really put whatever you want into the tab pane.
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings1">
                <h4>Settings</h4>
                <p>
                    4. Some of the Bootstrap 3.x components like well and panel have been dropped for the new card component.
                </p>
            </div>
        </div>
    </div>

  </div>

</div>