/* You can add global styles to this file, and also import other style files */
//import '~ag-grid-community/dist/styles/ag-grid.css';
//import '~ag-grid-community/dist/styles/ag-theme-balham.css';

@import "~ag-grid-community/dist/styles/ag-grid.css"; 
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";

$lightGray: #e0e0e0;
$red: #ff0000;
$darkGray: #888888;
$white: #ffffff;
$babyGray: #e5e5e5;

.border-light{
    border: 1px solid $lightGray !important;
}

.has-error{
    .form-control{
        border-color: $red !important;
    }
    .errorMsg{
        color: $red !important;
        text-align: left!important;
        display: flex;
        margin-top: -24px;
        position: absolute;
        font-size: 13px; 
    }
}

.userDetailListContainer{column-count: 2;}
.card-body{ 
    button{ 
        margin-left: .5rem;
    }
}
.custom-toast{
    position: absolute;
    border: 1px solid $darkGray;
    width: 30%;
    margin: auto;
    top: 10%;
    background: white;
    left: 0;
    right: 0;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
    .toast-header{ 
        background-color: #23bfd8;       
        color: $white;        
    }
    .successToster{
        background-color: #23bfd8;  
    }
    .errorToster{
        background-color: $red;  
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.errorMsgClass{
    background-color: $red;
    color: white;
    padding: 5px 10px;
}

.list-group-item{
    div {
        button {
            margin-left: .5rem;
        }
    }
}

.ptb21{padding: 2rem 1rem;}
.listGroup-alignRight{
    text-align: right;
    width: 100%!important;    
    button{
        margin-left: .5rem;
    }
}
.list-group-item{
    .listGroup-alignRight{
        padding-top: .8rem;
        border-top: 1px solid $babyGray;
      }
}
.custom-list-group{
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
    .list-group-item1{       
       border: 1px solid $babyGray!important;
       margin-bottom: 1rem;
       display: inline-block;
       width: 48%;
       margin-left: 1rem;
       padding: .5rem;
       padding-bottom: 0px;
       .listGroup-alignRight{
         padding: .5rem;
         border-top: 1px solid $babyGray;
       }
   }
}

.actionButton{
    width:225px;
}
.gridSelectOption{
    width:200px
}