<div class="container">
    <div class="row mb-3 mt-3">    
      <div class="col-4">
        <h4 class="card-title" [innerText]="currentUser.firstName"></h4>
      </div>
      <div class="col-8" style="text-align: right;">
          <button class="btn btn btn-outline-info btn-md" (click)="viewMyIncident(incidentList)">View My incident</button>&nbsp;
          <button class="btn btn btn-outline-secondary btn-md" (click)="viewAllIncident()">View all incident</button> &nbsp;
        <button class="btn btn btn-outline-primary btn-md" (click)="createIncident()">Create incident</button> &nbsp;
        <button class="btn btn btn-outline-primary btn-md" (click)="backToDashboard()">Dashboard</button>
      </div>
    </div>
    <div class="row"  *ngIf="isIncidentList; else noIncidentList">
        <ag-grid-angular ng-grid="gridOptions" style="width: 100%; height: 500px;" 
          row-animation
          pagination
          row-selection="multiple"
          class="ag-theme-blue"
          [columnDefs]="columnDefs"
          [rowData]="incidentList" 
          [defaultColDef]="defaultColDef"
          ></ag-grid-angular>
    </div>
    
      <div class="row"  *ngIf="isIncidentList; else noIncidentList">
        <ul class="list-group coloumnBy2" style="width: 100%;" *ngFor="let incident of incidentList">        
          <li class="list-group-item" >
            <h5 [innerText]="incident.title"></h5>
              <span [innerText]="incident.description"></span>
             <br>
              <br>
            <div class="listGroup-alignRight">
              <button class="btn btn btn-outline-primary btn-sm" *ngIf="incident.isOpen && !incident.isResolved" (click)="onOpenItem(incident)">Open</button>
                  <button class="btn btn btn-outline-info btn-sm" *ngIf="!incident.isOpen && !incident.isResolved" (click)="onProgressItem(incident)">In Progress</button>

                  <!-- <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isResolved && !incident.isOpen && !incident.isClarification" (click)="onCloseItem(incident)">Closed</button> -->
                  <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isClosed" (click)="onCloseItem(incident)">Closed</button>          

                  <button class="btn btn btn-outline-success btn-sm" *ngIf="incident.isResolved" (click)="onResolvedItem(incident)">Resolved</button>
                  <button class="btn btn btn-outline-danger btn-sm" *ngIf="!incident.isResolved" (click)="onRejectedItem(incident)">Rejected</button>

                  <button class="btn btn btn-outline-warning btn-sm" *ngIf="incident.isClarification" (click)="onClarificationRequired(incident)">Clarification Required</button>
                  <button class="btn btn btn-outline-warning btn-sm" *ngIf="!incident.isClarification" (click)="onClarificationReceived(incident)">Clarification Received</button>
            </div>
          </li>
        </ul>
      </div>



      <ng-template #noIncidentList>
        <h5 class="text-center ptb21" [innerHtml]="'No records found'"></h5>
      </ng-template>

  </div>
  