<div class="container">
    <h4 class="card-title">User</h4>
    
      <div class="row">
        <ul class="list-group coloumnBy2" style="width: 100%;">        
          <li class="list-group-item" >
              <h5>Title</h5>
              <span>Desctiption Desctiption Desctiption  Desctiption  Desctiption  Desctiption  Desctiption  Desctiption </span>
              <br>
              <br>
            <div class="listGroup-alignRight">
              <button class="btn btn btn-outline-primary btn-sm">Open</button>          
              <button class="btn btn btn-outline-success btn-sm">Closed</button>          
              <button class="btn btn btn-outline-info btn-sm">In Progress</button>
              <button class="btn btn btn-outline-success btn-sm">Resolved</button>
              <button class="btn btn btn-outline-danger btn-sm">Rejected</button>
              <button class="btn btn btn-outline-warning btn-sm">Clarification Required</button>
              <button class="btn btn btn-outline-warning btn-sm">Clarification Received</button>
            </div>
          </li>
          <li class="list-group-item" >
            <h5>Title</h5>
            <span>Desctiption Desctiption Desctiption  Desctiption  Desctiption  Desctiption  Desctiption  Desctiption </span>
            <br>
            <br>
          <div class="listGroup-alignRight">
            <button class="btn btn btn-outline-primary btn-sm">Open</button>          
            <button class="btn btn btn-outline-success btn-sm">Closed</button>          
            <button class="btn btn btn-outline-info btn-sm">In Progress</button>
            <button class="btn btn btn-outline-success btn-sm">Resolved</button>
            <button class="btn btn btn-outline-danger btn-sm">Rejected</button>
            <button class="btn btn btn-outline-warning btn-sm">Clarification Required</button>
            <button class="btn btn btn-outline-warning btn-sm">Clarification Received</button>
          </div>
        </li>
        <li class="list-group-item" >
          <h5>Title</h5>
          <span>Desctiption Desctiption Desctiption  Desctiption  Desctiption  Desctiption  Desctiption  Desctiption </span>
          <br>
          <br>
        <div class="listGroup-alignRight">
          <button class="btn btn btn-outline-primary btn-sm">Open</button>          
          <button class="btn btn btn-outline-success btn-sm">Closed</button>          
          <button class="btn btn btn-outline-info btn-sm">In Progress</button>
          <button class="btn btn btn-outline-success btn-sm">Resolved</button>
          <button class="btn btn btn-outline-danger btn-sm">Rejected</button>
          <button class="btn btn btn-outline-warning btn-sm">Clarification Required</button>
          <button class="btn btn btn-outline-warning btn-sm">Clarification Received</button>
        </div>
      </li>
        </ul>
      </div>

  </div>
  